.videocop{

    margin: 160px;
    
    }

.h3movie {
        color: blue;
        font-family: cursive;
        font-size: 300%;
        text-decoration: underline dotted red;
      }

.cardmovie {
         margin-top: -130px; ;
}     
